@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    font-family: 'Roboto', sans-serif;
    background-color: #77b5e5;
    color: #e0e0e0;
    padding: 20px;
    text-align: center; 
    margin-bottom: auto;
}

header img {
    width: 100px;
    height: auto; 
}

header .logo img {
    width: 100px;
    margin-top: 50px;
    margin-right: 70%;
}

header .navbar{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

header .navbar li{
    background-color:  #0563e1;
    border-radius: 10px;
    padding: 2px;
    list-style: none;
    margin-left: 10px;
}

header .navbar li a{
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

header .navbar li a:hover{ 
    background-color: #0563e1; 
    border-radius: 10px;
    padding: 2px;  
   }


footer {
    font-family: 'Roboto', sans-serif;
    background-color: #77b5e5; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    margin-top: auto; 
}

footer a {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
}

footer a:hover {
    color: #0563e1;
}

footer p {
    margin-top: 10px;
    font-size: 1em;
}

@media (max-width: 480px) {
    header img {
        width: 60px;
    }

    header .navbar {
        flex-direction: column;
        align-items: center;
    }

    header .navbar li {
        margin: 5px 0;
    }

    header .navbar li a {
        font-size: 0.8em;
    }

    footer a {
        font-size: 16px;
    }

    footer p {
        font-size: 0.8em;
    }
}